body {
    margin: 0px;
    padding: 0px;
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

video {
    overflow: hidden;
}